
body 
{
background-color:  #90E0EF;
font-family:'Lucida Handwriting', Cursive;
text-align: center;
}

h1 {
    color:#00008B;
}

h2 {
    color:rgb(35, 127, 169);
}

#interesses {
    background-color:darkmagenta;
    text-align: center;
}

#sejabemvindo
{
    text-align: center;
}

ul {
    list-style-type:none; /*remover pontos*/
}

li{
    display:inline; /*deixar linha na horizontal*/
    padding: 20px;  /* espaçamento entre linhas*/
}

a:hover { /*ao oassar o mouse na letra, muda a cor*/
    color:black

}

